html 
  head 
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.cdnfonts.com/css/ibm-plex-sans", rel="stylesheet")
    title E-Commerce API
    style(type="text/css").
      *{
        padding: 0 !important;
        margin: 0 !important;
        font-family: 'IBM Plex Sans', sans-serif;
      }
      .container {
        padding: 1rem !important;
      }
      .name {
        color: #5C5C80;
        font-size: 2rem !important;
        font-weight: 700 !important;
      }
      .greeting{
        font-size: 18px;
        margin: 30px 0px !important;
      }
      .btn {
        cursor: pointer;
        background-color: #f23722;
        border: none;
        outline: none;
        padding: 0.5rem 1.2rem 0.5rem 1.2rem !important;
        border-radius: 8px;
        margin-top: 1rem ;
      }

  body 
    .container 
      .mail-body 
        .content 
          h2.name E-Commerce API
          p.greeting This is the API for the e-commerce project. You can check out the docs below.
          button.btn View Docs